.product-card {
  width: 100%;
  height: fit-content;
  .product-card__container {
    width: 100%;
    height: auto;
    border: 1px solid var(--borderColor);
    border-radius: 1px;
    position: relative;
    .product-img {
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative;
      padding: 15px;
      .product-img-percent {
        position: absolute;
        padding: 2px 8px;
        border-radius: 5px;
        left: 10px;
        top: 10px;
        font-family: "Dosis", serif;
        font-weight: 500;
        text-transform: uppercase;
        color: #fff;
        background-color: var(--secondary-color);
      }
      .product-img-more {
        position: absolute;
        top: 10px;
        right: 10px;
        opacity: 0;
        .view-detail-btn,
        .favorite-btn {
          margin-bottom: 10px;
          width: 40px;
          height: 40px;
          border-radius: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid var(--primary-color);
          i {
            font-size: 16px;
          }
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    .product-info {
      padding: 15px;
      width: 100%;
      .product-info-name {
        font-size: 14px;
        font-weight: 500;
      }
      .status {
        text-transform: uppercase;
        font-size: 12px;
        font-family: "Dosis", serif;
        font-weight: 600;
        color: var(--green-color);
      }
      .product-info-star {
        display: flex;
        align-items: center;
        color: var(--yellow-darker-color);
        i {
          font-size: 12px;
          margin-right: 3px;
        }
        .star-num {
          font-size: 12px;
          margin-left: 5px;
          color: var(--greyColor);
        }
      }
      .product-info-price {
        display: flex;
        align-items: center;
        .price {
          font-size: 14px;
          font-family: "Dosis", serif;
          font-family: 600;
          color: var(--greyColor);
        }
        .sale-price {
          margin-left: 10px;
          font-size: 17px;
          font-family: "Dosis", serif;
          font-family: 600;
          color: var(--red-color);
        }
      }
    }
    .product-overlay {
      position: absolute;
      top: 100%;
      opacity: 0;
      left: -2px;
      right: -2px;
      bottom: -50px;
      background-color: var(--background-color);
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 2px solid var(--greyColor);
      border-left: 2px solid var(--greyColor);
      border-right: 2px solid var(--greyColor);
      border-radius: 0 0 7px 7px;
      .product-info-cart-btn {
        width: fit-content;
        background-color: var(--primary-color);
        font-size: 12px;
        padding: 8px 25px;
        color: #fff;
        border-radius: 20px;
        cursor: pointer;
      }
    }
    &:hover {
      border: 2px solid var(--greyColor);
      border-radius: 7px 7px 0 0;
      .product-img > .product-img-more {
        -webkit-animation: more-button-in 0.5s
          cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        animation: more-button-in 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      }
      .product-overlay {
        -webkit-animation: more-button-in 0.5s
          cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        animation: cart-button-animation 0.5s
          cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      }
    }
  }
}
