.btn-size-check {
  background-color: var(--input-background);
  width: fit-content;
  width: 50px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 400;
  margin-right: 15px;
  position: relative;
  cursor: pointer;
  .btn-size-check__selected {
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    .btn-size-check__selected-content {
      i {
        width: 30%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0 4px 0 5px;
        font-size: 10px;
        color: var(--background-color);
        background-color: var(--primary-color);
      }
    }
  }
}
